<div
  mat-dialog-content
  class="modalContainer"
  style="background-color: azure;"
>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
    novalidate
    style="width: 100%; height: 90%;"
  >
    <gridster [options]="options">
      <gridster-item
        [item]="control | ctrlToGridster"
        *ngFor="let control of controls;"
      >
        <app-container-dinamico
          [control]="control"
          [form]="form"
        ></app-container-dinamico>
      </gridster-item>
    </gridster>
    <button
      type="submit"
      [disabled]="!form.valid"
    >Save</button>
  </form>
  <div
    *ngIf="payLoad"
    class="form-row"
  >
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
